@import "../../styles/partials/colors";
@import "../../styles/partials/variables";

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: calc(100% - 32px);
    margin: 0 16px;
    align-self: center;
    padding: 40px;
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .inputWrapper {
      margin-top: 16px;
    }

    .submitButton {
      margin-top: 24px;

      &:disabled {
        background-color: $disabledBackground;
        border-color: $disabledBackground;
        color: $disabledColor;
        cursor: not-allowed;

        &:hover {
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
