@import "../../styles/partials/colors";

.header {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  align-items: center;
  padding: 40px 0;

  h1 {
    color: $white;
    margin-top: 16px;
  }

  img {
    width: 120px;
    height: 87px;
  }
}
