* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  font-size: 14px;
}

body, b, input, textarea, select {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
